parameters:
  level: 8
  paths:
    - app
    - routes
    - tests

  checkMissingIterableValueType: false

  excludePaths:
    - routes/console.php
    - routes/channels.php
    - app/Http/Middleware/Authenticate.php
    - app/Http/Middleware/RedirectIfAuthenticated.php
    - app/Exceptions/Handler.php
    - app/Providers/RouteServiceProvider.php
    - app/Models/User.php
    - app/Http/Middleware/TrustProxies.php

  reportUnmatchedIgnoredErrors: false
  reportMaybesInPropertyPhpDocTypes: false

  ignoreErrors:
   - '#Call to an undefined method Illuminate\\Http\\Client\\Response::#'
   - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::#'
   - '#Cannot access offset [\S]+ on array\{#'
   - '#Parameter \#1 \$message of function flash expects string\|null, array\|string\|null given.#'
   - '#Call to an undefined method Illuminate\\Testing\\TestResponse::getSession\(\)#'
   - '#Dynamic call to static method#'
   - '#Access to an undefined property object::\$id#'
   # TODO: remove this when add in courses theory of returning types
   - '#has no return type specified#'
   - '#should return .* but returns#'
   - '#Anonymous function should have native return type#'
